.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #6cf2c2;
  box-shadow: 0 0 20px rgba(108, 242, 194, 0.4);
  margin-bottom: 20px;
}
/* ===============================
   FOOTER (STICKS TO BOTTOM)
================================ */
.footer {
  position: relative;
  z-index: 2;
  width: 100%;
  background: rgba(15, 20, 30, 0.9);
  padding: 22px 0 16px;
  text-align: center;
}

/* Footer icons */
.footer-icons {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-bottom: 10px;
}

.footer-icons a {
  width: 40px;
  height: 37px;
  border-radius: 50%;
  background: rgba(108, 242, 194, 0.18);
  color: #6cf2c2;
  font-weight: bold;
  font-size: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-icons a:hover {
  background: #6cf2c2;
  color: #000;
  transform: translateY(-3px);
}

/* Footer text */
.footer-copy {
  font-size: 13px;
  color: #8a929b;
}